<a href="https://colab.research.google.com/github/YukiNoji3/SampleCode/blob/master/Python_DataAnalysis(pandas).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

4.2**.1** pandasの概要

In [0]:
import pandas as pd

In [98]:
ser = pd.Series([10, 20, 30, 40])
ser

0    10
1    20
2    30
3    40
dtype: int64

In [99]:
df = pd.DataFrame([[10, 'a', True],
                  [20, 'b', False],
                  [30, 'c', False],
                  [40, 'd', True]])
df

    0  1      2
0  10  a   True
1  20  b  False
2  30  c  False
3  40  d   True

In [0]:
import numpy as np
df = pd.DataFrame(np.arange(100).reshape((25, 4)))

In [101]:
df

     0   1   2   3
0    0   1   2   3
1    4   5   6   7
2    8   9  10  11
3   12  13  14  15
4   16  17  18  19
5   20  21  22  23
6   24  25  26  27
7   28  29  30  31
8   32  33  34  35
9   36  37  38  39
10  40  41  42  43
11  44  45  46  47
12  48  49  50  51
13  52  53  54  55
14  56  57  58  59
15  60  61  62  63
16  64  65  66  67
17  68  69  70  71
18  72  73  74  75
19  76  77  78  79
20  80  81  82  83
21  84  85  86  87
22  88  89  90  91
23  92  93  94  95
24  96  97  98  99

In [102]:
df.head

<bound method NDFrame.head of      0   1   2   3
0    0   1   2   3
1    4   5   6   7
2    8   9  10  11
3   12  13  14  15
4   16  17  18  19
5   20  21  22  23
6   24  25  26  27
7   28  29  30  31
8   32  33  34  35
9   36  37  38  39
10  40  41  42  43
11  44  45  46  47
12  48  49  50  51
13  52  53  54  55
14  56  57  58  59
15  60  61  62  63
16  64  65  66  67
17  68  69  70  71
18  72  73  74  75
19  76  77  78  79
20  80  81  82  83
21  84  85  86  87
22  88  89  90  91
23  92  93  94  95
24  96  97  98  99>

In [103]:
df.tail

<bound method NDFrame.tail of      0   1   2   3
0    0   1   2   3
1    4   5   6   7
2    8   9  10  11
3   12  13  14  15
4   16  17  18  19
5   20  21  22  23
6   24  25  26  27
7   28  29  30  31
8   32  33  34  35
9   36  37  38  39
10  40  41  42  43
11  44  45  46  47
12  48  49  50  51
13  52  53  54  55
14  56  57  58  59
15  60  61  62  63
16  64  65  66  67
17  68  69  70  71
18  72  73  74  75
19  76  77  78  79
20  80  81  82  83
21  84  85  86  87
22  88  89  90  91
23  92  93  94  95
24  96  97  98  99>

In [104]:
df.shape

(25, 4)

In [105]:
df = pd.DataFrame(np.arange(6).reshape((3, 2)))
df

   0  1
0  0  1
1  2  3
2  4  5

In [0]:
df.index = ['01', '02', '03']
df.columns = ['A', 'B']

In [107]:
df

    A  B
01  0  1
02  2  3
03  4  5

In [0]:
named_df = pd.DataFrame(np.arange(6).reshape((3, 2)),
                        columns=['A列', 'B列'],
                        index=['1行目', '2行目', '3行目'])

In [109]:
named_df

     A列  B列
1行目   0   1
2行目   2   3
3行目   4   5

In [110]:
pd.DataFrame({'A列':[0, 2, 4], 'B列':[1, 3, 5]})

   A列  B列
0   0   1
1   2   3
2   4   5

In [111]:
import numpy as np
import pandas as pd
df = pd.DataFrame(np.arange(12).reshape((4, 3)),
        columns=['A', 'B', 'C'],
        index=['1行目', '2行目', '3行目', '4行目'])
df

     A   B   C
1行目  0   1   2
2行目  3   4   5
3行目  6   7   8
4行目  9  10  11

In [112]:
df['A']

1行目    0
2行目    3
3行目    6
4行目    9
Name: A, dtype: int64

In [113]:
df[['A', 'B']]

     A   B
1行目  0   1
2行目  3   4
3行目  6   7
4行目  9  10

In [114]:
df[:2]

     A  B  C
1行目  0  1  2
2行目  3  4  5

In [115]:
df.loc[:, :]

     A   B   C
1行目  0   1   2
2行目  3   4   5
3行目  6   7   8
4行目  9  10  11

In [116]:
df.loc[:, 'A']

1行目    0
2行目    3
3行目    6
4行目    9
Name: A, dtype: int64

In [117]:
df.loc[:, ['A', 'B']]

     A   B
1行目  0   1
2行目  3   4
3行目  6   7
4行目  9  10

In [118]:
df.loc['1行目', :]

A    0
B    1
C    2
Name: 1行目, dtype: int64

In [119]:
df.loc[['1行目', '3行目'], :]

     A  B  C
1行目  0  1  2
3行目  6  7  8

In [120]:
df.loc[['1行目'],['A', 'C']]

     A  C
1行目  0  2

In [121]:
df.iloc[1, 1]

4

In [122]:
df.iloc[1:, 1]

2行目     4
3行目     7
4行目    10
Name: B, dtype: int64

In [123]:
df.iloc[1:, :2]

     A   B
2行目  3   4
3行目  6   7
4行目  9  10

4.2.2 **データの読み込み・書き込み**

In [124]:
# show upload dialog
from google.colab import files
uploaded = files.upload()

In [96]:
import pandas as pd
df = pd.read_csv('/content/201704health.csv', encoding='utf-8')
df

            日付     歩数  摂取カロリー
0   2017-04-01   5439    2500
1   2017-04-02   2510    2300
2   2017-04-03  10238    1950
3   2017-04-04   8209    1850
4   2017-04-05   9434    1930
5   2017-04-06   7593    1800
6   2017-04-07   9320    1940
7   2017-04-08   4873    2300
8   2017-04-09  12045    1950
9   2017-04-10   7493    1850
10  2017-04-11   7289    1930
11  2017-04-12   6481    2300
12  2017-04-13  10287    1800
13  2017-04-14   8043    1940
14  2017-04-15   7435    2300
15  2017-04-16   7529    2300
16  2017-04-17   8031    1940
17  2017-04-18   8475    2300
18  2017-04-19   8132    1950
19  2017-04-20  15328    1800
20  2017-04-21  12849    1940
21  2017-04-22   4029    2300
22  2017-04-23   3890    1950
23  2017-04-24   8093    1850
24  2017-04-25   7823    1950
25  2017-04-26   7492    1850
26  2017-04-27   7203    1930
27  2017-04-28   7302    1850
28  2017-04-29   6033    2300
29  2017-04-30   4093    1950

In [0]:
import pandas as pd
df = pd.read_excel('/content/201704health.xlsx')
df

In [0]:
url = 'https://ja.wikipedia.org/wiki/%E3%83%88%E3%83%83%E3%83%97%E3%83%AC%E3%83%99%E3%83%AB%E3%83%89%E3%83%A1%E3%82%A4%E3%83%B3%E4%B8%80%E8%A6%A7'
tables = pd.read_html(url)

In [0]:
len(tables)

In [0]:
df = tables[4]
df

In [0]:
df.to_csv('/content/write_data.csv')

In [0]:
df.to_excel('/content/write_data.xlsx')

In [0]:
df.to_pickle('/content/write_df.pickle')

In [0]:
df = pd.read_pickle('/content/write_df.pickle')

In [0]:
df

**4.2.3 データの成型**

In [0]:
import pandas as pd
import numpy as np

In [0]:
df = pd.read_excel('/content/201704health.xlsx')
df

In [0]:
df['歩数'] >= 10000

In [0]:
df_selected = df[df['歩数'] >= 10000]
df_selected

In [0]:
df_selected.shape

In [0]:
df.query('歩数 >=10000 and 摂取カロリー <= 1800')

In [0]:
df.query('歩数 >= 10000')

In [0]:
df.dtypes

In [0]:
df.loc[:, 'date'] = df.loc[:, '日付'].apply(pd.to_datetime)

In [0]:
df.loc[:, 'date']

In [0]:
df

In [0]:
df.loc[:, '摂取カロリー'] = df.loc[:, '摂取カロリー'].astype(np.float32)

In [0]:
df = df.set_index('date')

In [0]:
df.head()

In [0]:
df.sort_values(by='歩数')

In [0]:
df.sort_values(by='歩数', ascending=False).head()

In [0]:
df = df.drop('日付', axis=1)

In [0]:
df

In [0]:
df.tail()

In [0]:
df.loc[:, '歩数/カロリー'] = df.loc[:, '歩数'] / df.loc[:, '摂取カロリー']
df

In [0]:
def excercise_judge(ex):
  if ex <= 3.0:
    return 'Low'
  elif 3.0 < ex <= 6.0:
    return 'Mid'
  else:
    return 'High'

In [0]:
df.loc[:, '運動指数'] = df.loc[:, '歩数/カロリー'].apply(excercise_judge)
df

In [0]:
df.to_pickle('/content/df_.201704health.pickle')

df_moved = pd.get_dummies(df.loc[:, '運動指数'], prefix='運動')
df_moved

In [0]:
df_moved.to_pickle('/content/df_.201704moved.pickle')

4.2.4 **時系列データ**

In [0]:
dates = pd.date_range(start='2017-04-01', end='2017-04-30')
dates

In [0]:
np.random.seed(123)
df = pd.DataFrame(np.random.randint(1, 31, 30), index=dates, columns=['乱数'])
df

In [0]:
dates = pd.date_range(start='2017-01-01', periods=365)
dates

In [0]:
np.random.seed(123)
df = pd.DataFrame(np.random.randint(1, 31, 365), index=dates, columns=['乱数'])
df

In [0]:
df.groupby(pd.Grouper(freq='M')).mean()

In [0]:
df.loc[:, '乱数'].resample('M').mean()

In [0]:
pd.date_range(start='2017-01-01', end='2017-12-31', freq='W-SAT')

In [0]:
df_year = pd.DataFrame(df.groupby(pd.Grouper(freq='W-SAT')).sum(), columns=['乱数'])
df_year

4.2.5 **欠損地処理**

In [0]:
import pandas as pd
df_201705 = pd.read_csv('/content/201705health.csv', encoding='utf-8',index_col='日付', parse_dates=True)
df_201705

In [0]:
df_201705_drop = df_201705.dropna()

In [0]:
df_201705_drop

In [0]:
df_201705_fillna = df_201705.fillna(0)
df_201705_fillna

In [0]:
df_201705_fill = df_201705.fillna(method='ffill')
df_201705_fill

In [31]:
df_201705_fillmean = df_201705.fillna(df_201705.mean())
df_201705_fillmean

NameError: ignored

4.2.6 **データ連結**

In [0]:
df = pd.read_pickle('/content/df_.201704health.pickle')
df

               歩数  摂取カロリー   歩数/カロリー  運動指数
date
2017-04-01   5439  2500.0  2.175600   Low
2017-04-02   2510  2300.0  1.091304   Low
2017-04-03  10238  1950.0  5.250256   Mid
2017-04-04   8209  1850.0  4.437297   Mid
2017-04-05   9434  1930.0  4.888083   Mid
2017-04-06   7593  1800.0  4.218333   Mid
2017-04-07   9320  1940.0  4.804124   Mid
2017-04-08   4873  2300.0  2.118696   Low
2017-04-09  12045  1950.0  6.176923  High
2017-04-10   7493  1850.0  4.050270   Mid
2017-04-11   7289  1930.0  3.776684   Mid
2017-04-12   6481  2300.0  2.817826   Low
2017-04-13  10287  1800.0  5.715000   Mid
2017-04-14   8043  1940.0  4.145876   Mid
2017-04-15   7435  2300.0  3.232609   Mid
2017-04-16   7529  2300.0  3.273478   Mid
2017-04-17   8031  1940.0  4.139691   Mid
2017-04-18   8475  2300.0  3.684783   Mid
2017-04-19   8132  1950.0  4.170256   Mid
2017-04-20  15328  1800.0  8.515556  High
2017-04-21  12849  1940.0  6.623196  High
2017-04-22   4029  2300.0  1.751739   Low
2017-04-23   3890  1950.0  1.994872   Low
2017-04-24   8093  1850.0  4.374595   Mid
2017-04-25   7823  1950.0  4.011795   Mid
2017-04-26   7492  1850.0  4.049730   Mid
2017-04-27   7203  1930.0  3.732124   Mid
2017-04-28   7302  1850.0  3.947027   Mid
2017-04-29   6033  2300.0  2.623043   Low
2017-04-30   4093  1950.0  2.098974   Low

In [0]:
df_moved = pd.read_pickle('/content/df_.201704moved.pickle')
df_moved

            運動_High  運動_Low  運動_Mid
date
2017-04-01        0       1       0
2017-04-02        0       1       0
2017-04-03        0       0       1
2017-04-04        0       0       1
2017-04-05        0       0       1
2017-04-06        0       0       1
2017-04-07        0       0       1
2017-04-08        0       1       0
2017-04-09        1       0       0
2017-04-10        0       0       1
2017-04-11        0       0       1
2017-04-12        0       1       0
2017-04-13        0       0       1
2017-04-14        0       0       1
2017-04-15        0       0       1
2017-04-16        0       0       1
2017-04-17        0       0       1
2017-04-18        0       0       1
2017-04-19        0       0       1
2017-04-20        1       0       0
2017-04-21        1       0       0
2017-04-22        0       1       0
2017-04-23        0       1       0
2017-04-24        0       0       1
2017-04-25        0       0       1
2017-04-26        0       0       1
2017-04-27        0       0       1
2017-04-28        0       0       1
2017-04-29        0       1       0
2017-04-30        0       1       0

In [0]:
df_merged = pd.concat([df, df_moved], axis=1)
df_merged

               歩数  摂取カロリー   歩数/カロリー  運動指数  運動_High  運動_Low  運動_Mid
date
2017-04-01   5439  2500.0  2.175600   Low        0       1       0
2017-04-02   2510  2300.0  1.091304   Low        0       1       0
2017-04-03  10238  1950.0  5.250256   Mid        0       0       1
2017-04-04   8209  1850.0  4.437297   Mid        0       0       1
2017-04-05   9434  1930.0  4.888083   Mid        0       0       1
2017-04-06   7593  1800.0  4.218333   Mid        0       0       1
2017-04-07   9320  1940.0  4.804124   Mid        0       0       1
2017-04-08   4873  2300.0  2.118696   Low        0       1       0
2017-04-09  12045  1950.0  6.176923  High        1       0       0
2017-04-10   7493  1850.0  4.050270   Mid        0       0       1
2017-04-11   7289  1930.0  3.776684   Mid        0       0       1
2017-04-12   6481  2300.0  2.817826   Low        0       1       0
2017-04-13  10287  1800.0  5.715000   Mid        0       0       1
2017-04-14   8043  1940.0  4.145876   Mid        0       0       1
2017-04-15   7435  2300.0  3.232609   Mid        0       0       1
2017-04-16   7529  2300.0  3.273478   Mid        0       0       1
2017-04-17   8031  1940.0  4.139691   Mid        0       0       1
2017-04-18   8475  2300.0  3.684783   Mid        0       0       1
2017-04-19   8132  1950.0  4.170256   Mid        0       0       1
2017-04-20  15328  1800.0  8.515556  High        1       0       0
2017-04-21  12849  1940.0  6.623196  High        1       0       0
2017-04-22   4029  2300.0  1.751739   Low        0       1       0
2017-04-23   3890  1950.0  1.994872   Low        0       1       0
2017-04-24   8093  1850.0  4.374595   Mid        0       0       1
2017-04-25   7823  1950.0  4.011795   Mid        0       0       1
2017-04-26   7492  1850.0  4.049730   Mid        0       0       1
2017-04-27   7203  1930.0  3.732124   Mid        0       0       1
2017-04-28   7302  1850.0  3.947027   Mid        0       0       1
2017-04-29   6033  2300.0  2.623043   Low        0       1       0
2017-04-30   4093  1950.0  2.098974   Low        0       1       0

In [0]:
df_merged_0405 = pd.concat([df_merged, df_201705_fill], axis=0, sort=True)
df_merged_0405

            摂取カロリー       歩数   歩数/カロリー  運動_High  運動_Low  運動_Mid  運動指数
2017-04-01  2500.0   5439.0  2.175600      0.0     1.0     0.0   Low
2017-04-02  2300.0   2510.0  1.091304      0.0     1.0     0.0   Low
2017-04-03  1950.0  10238.0  5.250256      0.0     0.0     1.0   Mid
2017-04-04  1850.0   8209.0  4.437297      0.0     0.0     1.0   Mid
2017-04-05  1930.0   9434.0  4.888083      0.0     0.0     1.0   Mid
2017-04-06  1800.0   7593.0  4.218333      0.0     0.0     1.0   Mid
2017-04-07  1940.0   9320.0  4.804124      0.0     0.0     1.0   Mid
2017-04-08  2300.0   4873.0  2.118696      0.0     1.0     0.0   Low
2017-04-09  1950.0  12045.0  6.176923      1.0     0.0     0.0  High
2017-04-10  1850.0   7493.0  4.050270      0.0     0.0     1.0   Mid
2017-04-11  1930.0   7289.0  3.776684      0.0     0.0     1.0   Mid
2017-04-12  2300.0   6481.0  2.817826      0.0     1.0     0.0   Low
2017-04-13  1800.0  10287.0  5.715000      0.0     0.0     1.0   Mid
2017-04-14  1940.0   8043.0  4.145876      0.0     0.0     1.0   Mid
2017-04-15  2300.0   7435.0  3.232609      0.0     0.0     1.0   Mid
2017-04-16  2300.0   7529.0  3.273478      0.0     0.0     1.0   Mid
2017-04-17  1940.0   8031.0  4.139691      0.0     0.0     1.0   Mid
2017-04-18  2300.0   8475.0  3.684783      0.0     0.0     1.0   Mid
2017-04-19  1950.0   8132.0  4.170256      0.0     0.0     1.0   Mid
2017-04-20  1800.0  15328.0  8.515556      1.0     0.0     0.0  High
2017-04-21  1940.0  12849.0  6.623196      1.0     0.0     0.0  High
2017-04-22  2300.0   4029.0  1.751739      0.0     1.0     0.0   Low
2017-04-23  1950.0   3890.0  1.994872      0.0     1.0     0.0   Low
2017-04-24  1850.0   8093.0  4.374595      0.0     0.0     1.0   Mid
2017-04-25  1950.0   7823.0  4.011795      0.0     0.0     1.0   Mid
2017-04-26  1850.0   7492.0  4.049730      0.0     0.0     1.0   Mid
2017-04-27  1930.0   7203.0  3.732124      0.0     0.0     1.0   Mid
2017-04-28  1850.0   7302.0  3.947027      0.0     0.0     1.0   Mid
2017-04-29  2300.0   6033.0  2.623043      0.0     1.0     0.0   Low
2017-04-30  1950.0   4093.0  2.098974      0.0     1.0     0.0   Low
2017-05-01  4500.0   1439.0       NaN      NaN     NaN     NaN   NaN
2017-05-02  2420.0   8120.0       NaN      NaN     NaN     NaN   NaN
2017-05-03  2420.0   8120.0       NaN      NaN     NaN     NaN   NaN
2017-05-04  1500.0   2329.0       NaN      NaN     NaN     NaN   NaN
2017-05-05  1500.0   2329.0       NaN      NaN     NaN     NaN   NaN
2017-05-06  1800.0   3233.0       NaN      NaN     NaN     NaN   NaN
2017-05-07  2200.0   9593.0       NaN      NaN     NaN     NaN   NaN
2017-05-08  1800.0   9213.0       NaN      NaN     NaN     NaN   NaN
2017-05-09  2500.0   5593.0       NaN      NaN     NaN     NaN   NaN

4.2.7 **統計データの扱い**

In [126]:
import pandas as pd
df = pd.read_pickle('/content/df_201704health.pickle')
df.head()

               歩数  摂取カロリー   歩数/カロリー 運動指数
date
2017-04-01   5439    2500  2.175600  Low
2017-04-02   2510    2300  1.091304  Low
2017-04-03  10238    1950  5.250256  Mid
2017-04-04   8209    1850  4.437297  Mid
2017-04-05   9434    1930  4.888083  Mid

In [128]:
df.loc[:, '摂取カロリー'].max()

2500

In [129]:
df.loc[:, '摂取カロリー'].min()

1800

In [130]:
df.loc[:, '摂取カロリー'].mode()

0    2300
dtype: int64

In [131]:
df.loc[:, '摂取カロリー'].mean()

2026.6666666666667

In [133]:
df.loc[:, '摂取カロリー'].median()

1945.0