<a href="https://colab.research.google.com/github/YukiNoji3/SampleCode/blob/master/Python_DataAnalysis(pandas).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

4.2**.1** pandasの概要

In [0]:
import pandas as pd

In [0]:
ser = pd.Series([10, 20, 30, 40])
ser

In [0]:
df = pd.DataFrame([[10, 'a', True],
                  [20, 'b', False],
                  [30, 'c', False],
                  [40, 'd', True]])
df

In [0]:
import numpy as np
df = pd.DataFrame(np.arange(100).reshape((25, 4)))

In [0]:
df

In [0]:
df.head

In [0]:
df.tail

In [0]:
df.shape

In [0]:
df = pd.DataFrame(np.arange(6).reshape((3, 2)))
df

In [0]:
df.index = ['01', '02', '03']
df.columns = ['A', 'B']

In [0]:
df

In [0]:
named_df = pd.DataFrame(np.arange(6).reshape((3, 2)),
                        columns=['A列', 'B列'],
                        index=['1行目', '2行目', '3行目'])

In [0]:
named_df

In [0]:
pd.DataFrame({'A列':[0, 2, 4], 'B列':[1, 3, 5]})

In [0]:
import numpy as np
import pandas as pd
df = pd.DataFrame(np.arange(12).reshape((4, 3)),
        columns=['A', 'B', 'C'],
        index=['1行目', '2行目', '3行目', '4行目'])
df

In [0]:
df['A']

In [0]:
df[['A', 'B']]

In [0]:
df[:2]

In [0]:
df.loc[:, :]

In [0]:
df.loc[:, 'A']

In [0]:
df.loc[:, ['A', 'B']]

In [0]:
df.loc['1行目', :]

In [0]:
df.loc[['1行目', '3行目'], :]

In [0]:
df.loc[['1行目'],['A', 'C']]

In [0]:
df.iloc[1, 1]

In [0]:
df.iloc[1:, 1]

In [0]:
df.iloc[1:, :2]

4.2.2 **データの読み込み・書き込み**

In [95]:
# show upload dialog
from google.colab import files
uploaded = files.upload()

TypeError: ignored

In [0]:
import pandas as pd
df = pd.read_csv('/content/201704health.csv', encoding='utf-8')
df

In [0]:
import pandas as pd
df = pd.read_excel('/content/201704health.xlsx')
df

In [0]:
url = 'https://ja.wikipedia.org/wiki/%E3%83%88%E3%83%83%E3%83%97%E3%83%AC%E3%83%99%E3%83%AB%E3%83%89%E3%83%A1%E3%82%A4%E3%83%B3%E4%B8%80%E8%A6%A7'
tables = pd.read_html(url)

In [0]:
len(tables)

In [93]:
df = tables[4]
df

    Name        Entity          Explanation  ... DNSSEC            SLD IPv6
0    .ac       アセンション島                  NaN  ...    Yes            Yes  Yes
1    .ad          アンドラ                  NaN  ...    Yes            Yes  NaN
2    .ae      アラブ首長国連邦                  NaN  ...     No            Yes  NaN
3    .af       アフガニスタン                  NaN  ...    Yes            Yes  NaN
4    .ag  アンティグア・バーブーダ                  NaN  ...    Yes            Yes  NaN
..   ...           ...                  ...  ...    ...            ...  ...
248  .ye          イエメン                  NaN  ...     No             No  NaN
249  .yt         マヨット島                  NaN  ...    Yes            Yes  NaN
250  .za         南アフリカ  Zuid-Afrika (オランダ語)  ...     No             No  NaN
251  .zm          ザンビア                  NaN  ...    Yes  Yes[cctld 28]  NaN
252  .zw         ジンバブエ                  NaN  ...     No             No  NaN

[253 rows x 8 columns]

In [0]:
df.to_csv('/content/write_data.csv')

In [0]:
df.to_excel('/content/write_data.xlsx')

In [0]:
df.to_pickle('/content/write_df.pickle')

In [0]:
df = pd.read_pickle('/content/write_df.pickle')

In [102]:
df

    Name        Entity          Explanation  ... DNSSEC            SLD IPv6
0    .ac       アセンション島                  NaN  ...    Yes            Yes  Yes
1    .ad          アンドラ                  NaN  ...    Yes            Yes  NaN
2    .ae      アラブ首長国連邦                  NaN  ...     No            Yes  NaN
3    .af       アフガニスタン                  NaN  ...    Yes            Yes  NaN
4    .ag  アンティグア・バーブーダ                  NaN  ...    Yes            Yes  NaN
..   ...           ...                  ...  ...    ...            ...  ...
248  .ye          イエメン                  NaN  ...     No             No  NaN
249  .yt         マヨット島                  NaN  ...    Yes            Yes  NaN
250  .za         南アフリカ  Zuid-Afrika (オランダ語)  ...     No             No  NaN
251  .zm          ザンビア                  NaN  ...    Yes  Yes[cctld 28]  NaN
252  .zw         ジンバブエ                  NaN  ...     No             No  NaN

[253 rows x 8 columns]

**4.2.3 データの成型**