<a href="https://colab.research.google.com/github/YukiNoji3/SampleCode/blob/master/Python_DataAnalysis(scikit_learn).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

4.4.1 **前処理**

In [0]:
import numpy as np
import pandas as pd
#サンプルのデータセットを作成
df = pd.DataFrame(
    {
        'A': [1, np.nan, 3, 4, 5],
        'B': [6, 7, 8, np.nan, 10],
        'C': [11, 12, 13, 14,15]
    }
)

In [4]:
df.isnull()

       A      B      C
0  False  False  False
1   True  False  False
2  False  False  False
3  False   True  False
4  False  False  False

In [5]:
import sklearn

print(sklearn.__version__)

0.22.2.post1

In [6]:
!pip install --user --upgrade scikit-learn

Requirement already up-to-date: scikit-learn in /usr/local/lib/python3.6/dist-packages (0.22.2.post1)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn) (0.14.1)
Requirement already satisfied, skipping upgrade: numpy>=1.11.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn) (1.18.2)
Requirement already satisfied, skipping upgrade: scipy>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn) (1.4.1)

In [7]:
import sklearn

print(sklearn.__version__)

0.22.2.post1

In [8]:
# 平均値で欠損値を補完するためのインスタンスを作成する
imp = SimpleImputer(strategy = 'mean')
# 欠損値を補完
imp.fit(df)
imp.transform(df)

NameError: ignored

In [0]:
import pandas as pd
df = pd.DataFrame(
    {
        'A': [1, 2, 3, 4, 5],
        'B': ['a', 'b', 'a', 'b', 'c']  
    }
)
df

In [0]:
from sklearn.preprocessing import LabelEncoder
#ラベルエンコーダのインスタンスを生成
le = LabelEncoder()
#ラベルのエンコーディング
le.fit(df['B'])
le.transform(df['B'])

In [0]:
le.classes_

In [11]:
from sklearn.compose import ColumnTransformer
from sklearn.feature_extraction.text import CountVectorizer

# DataFrameをコピー
df_ohe = df.copy()
print(df_ohe)

# ColumnTransformerのインスタンス化
ct = ColumnTransformer([('B_x', CountVectorizer(analyzer=lambda x: [x]), 'B')],
    remainder = 'passthrough')
ct.fit_transform(df_ohe)

     A     B   C
0  1.0   6.0  11
1  NaN   7.0  12
2  3.0   8.0  13
3  4.0   NaN  14
4  5.0  10.0  15

array([[ 1.,  0.,  0.,  0.,  0.,  1., 11.],
       [ 0.,  1.,  0.,  0.,  0., nan, 12.],
       [ 0.,  0.,  1.,  0.,  0.,  3., 13.],
       [ 0.,  0.,  0.,  1.,  0.,  4., 14.],
       [ 0.,  0.,  0.,  0.,  1.,  5., 15.]])

In [12]:
import pandas as pd
#DataFrameを作成する
df = pd.DataFrame(
    {
        'A': [1, 2, 3, 4, 5],
        'B': [100, 200, 400, 500, 800]
    }
)
df

   A    B
0  1  100
1  2  200
2  3  400
3  4  500
4  5  800

In [13]:
from sklearn.preprocessing import  StandardScaler
#分散正規化のインスタンスを生成
stdsc = StandardScaler()
#分散正規化を実行」
stdsc.fit(df)
stdsc.transform(df)

array([[-1.41421356, -1.22474487],
       [-0.70710678, -0.81649658],
       [ 0.        ,  0.        ],
       [ 0.70710678,  0.40824829],
       [ 1.41421356,  1.63299316]])