<a href="https://colab.research.google.com/github/YukiNoji3/SampleCode/blob/master/Python_DataAnalysis(pandas).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

4.2**.1** pandasの概要

In [0]:
import pandas as pd

In [3]:
ser = pd.Series([10, 20, 30, 40])
ser

0    10
1    20
2    30
3    40
dtype: int64

In [5]:
df = pd.DataFrame([[10, 'a', True],
                  [20, 'b', False],
                  [30, 'c', False],
                  [40, 'd', True]])
df

    0  1      2
0  10  a   True
1  20  b  False
2  30  c  False
3  40  d   True

In [0]:
import numpy as np
df = pd.DataFrame(np.arange(100).reshape((25, 4)))

In [7]:
df

     0   1   2   3
0    0   1   2   3
1    4   5   6   7
2    8   9  10  11
3   12  13  14  15
4   16  17  18  19
5   20  21  22  23
6   24  25  26  27
7   28  29  30  31
8   32  33  34  35
9   36  37  38  39
10  40  41  42  43
11  44  45  46  47
12  48  49  50  51
13  52  53  54  55
14  56  57  58  59
15  60  61  62  63
16  64  65  66  67
17  68  69  70  71
18  72  73  74  75
19  76  77  78  79
20  80  81  82  83
21  84  85  86  87
22  88  89  90  91
23  92  93  94  95
24  96  97  98  99

In [8]:
df.head

<bound method NDFrame.head of      0   1   2   3
0    0   1   2   3
1    4   5   6   7
2    8   9  10  11
3   12  13  14  15
4   16  17  18  19
5   20  21  22  23
6   24  25  26  27
7   28  29  30  31
8   32  33  34  35
9   36  37  38  39
10  40  41  42  43
11  44  45  46  47
12  48  49  50  51
13  52  53  54  55
14  56  57  58  59
15  60  61  62  63
16  64  65  66  67
17  68  69  70  71
18  72  73  74  75
19  76  77  78  79
20  80  81  82  83
21  84  85  86  87
22  88  89  90  91
23  92  93  94  95
24  96  97  98  99>

In [9]:
df.tail

<bound method NDFrame.tail of      0   1   2   3
0    0   1   2   3
1    4   5   6   7
2    8   9  10  11
3   12  13  14  15
4   16  17  18  19
5   20  21  22  23
6   24  25  26  27
7   28  29  30  31
8   32  33  34  35
9   36  37  38  39
10  40  41  42  43
11  44  45  46  47
12  48  49  50  51
13  52  53  54  55
14  56  57  58  59
15  60  61  62  63
16  64  65  66  67
17  68  69  70  71
18  72  73  74  75
19  76  77  78  79
20  80  81  82  83
21  84  85  86  87
22  88  89  90  91
23  92  93  94  95
24  96  97  98  99>

In [10]:
df.shape

(25, 4)

In [12]:
df = pd.DataFrame(np.arange(6).reshape((3, 2)))
df

   0  1
0  0  1
1  2  3
2  4  5

In [0]:
df.index = ['01', '02', '03']
df.columns = ['A', 'B']

In [14]:
df

    A  B
01  0  1
02  2  3
03  4  5

In [0]:
named_df = pd.DataFrame(np.arange(6).reshape((3, 2)),
                        columns=['A列', 'B列'],
                        index=['1行目', '2行目', '3行目'])

In [16]:
named_df

     A列  B列
1行目   0   1
2行目   2   3
3行目   4   5

In [17]:
pd.DataFrame({'A列':[0, 2, 4], 'B列':[1, 3, 5]})

   A列  B列
0   0   1
1   2   3
2   4   5

In [21]:
import numpy as np
import pandas as pd
df = pd.DataFrame(np.arange(12).reshape((4, 3)),
        columns=['A', 'B', 'C'],
        index=['1行目', '2行目', '3行目', '4行目'])
df

     A   B   C
1行目  0   1   2
2行目  3   4   5
3行目  6   7   8
4行目  9  10  11